Django==4.2.11
djangorestframework==3.14.0
drf-spectacular==0.27.2
django-filter==24.1
django-cors-headers==4.6.0
djangorestframework-simplejwt==5.5.1
djoser==2.3.0
django-simple-captcha==0.5.17
django-celery-beat==2.7.0
celery==5.3.6
redis==5.0.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
beautifulsoup4==4.12.2
lxml==4.9.3
requests==2.31.0
selenium==4.15.2
webdriver-manager==4.0.1
pymorphy3==2.0.3
python-dateutil==2.8.2
pytz==2023.3
Pillow==10.1.0
gunicorn==21.2.0