beautifulsoup4==4.12.3
celery==5.4.0
djangorestframework==3.15.2
lxml
pymorphy3
python_dateutil==2.9.0.post0
pytz==2024.1
Requests==2.32.3
selenium==4.23.1
webdriver_manager==4.0.1
django-import-export
django-filter
django-cors-headers==4.6.0
redis
psycopg2-binary==2.9.10
python-dotenv==1.0.1
Django==5.0.7
tablib[xlsx]
